@model myWall.Models.Questions
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


   <div class="form-group">
        @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-lg-3" })
        <div class="col-lg-9">
            @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a Security Question" } })
            @Html.ValidationMessageFor(model => model.Question, "", new { @class = "text-danger" })
           
        </div>
    </div>

<div class="form-group">
    <!-- Answer -->
    @Html.LabelFor(model => model.Answer, htmlAttributes: new { @class = "control-label col-lg-3" })
    <div class="col-lg-9">
        @Html.EditorFor(model => model.Answer, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nana" } })
       
    </div>
</div>

<div class="form-group">
    <!-- Hint -->
    @Html.LabelFor(model => model.Hint, htmlAttributes: new { @class = "control-label col-lg-3" })
    <div class="col-lg-9">
        @Html.EditorFor(model => model.Hint, new { htmlAttributes = new { @class = "form-control", @placeholder = "My Border Collie..." } })
    </div>
</div><br />
<div class="form-group">
  
    </div>
    <br />
    <div class="form-group">
        <div class="col-lg-9">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div><br />
    }

    <style>
        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #00ffcc;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        div {
            border-radius: 5px;
            background-color: #f2f2f2;
        }
    </style>
