@model IEnumerable<FakeNews.Models.Headline>

@{
    ViewBag.Title = "Show";
}



<!-- Table to list all current change of major requests -->
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <th>
                @Html.DisplayFor(modelItem => item.Title)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Body)
            </th>

            <th>
                @Html.DisplayFor(modelItem => item.PDate)
            </th>
        </tr>

    }

</table>

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

