@model IEnumerable<object>
@{
    List <myWall.Models.Wall> stwall = Model.ToList()[0] as List<myWall.Models.Wall>;
    List <myWall.Models.Post> stcontent = Model.ToList()[1] as List<myWall.Models.Post>;
}


            @{
                ViewBag.Title = "Index";
            }


            <h2>Index</h2>


            <div class="upld">
                <h3>Upload a File to my E-Library:</h3> <br />

                <input type='file' id="files" multiple="multiple" />
                <input type="button" id="upload" class="btn btn-primary" value="Upload" /> <br />
                <p>
                    <br /> @Html.ActionLink("E-Library", "Library", null, new { @class = "btn btn-primary" })
                </p>

                <br />
            </div>



            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
            <script>
                $body = $("body");
                $(document).on({
                    ajaxStart: function () { $body.addClass("loading"); },
                    ajaxStop: function () { $body.removeClass("loading"); }
                });

                $(document).ready(function () {
                    $("#upload").click(function () {
                        var data = new FormData();

                        //Add the Multiple selected files into the data object
                        var files = $("#files").get(0).files;
                        for (i = 0; i < files.length; i++) {
                            data.append("files" + i, files[i]);
                        }

                        //Post the data (files) to the server
                        if (files.length > 0) {
                            $.ajax({
                                type: 'POST',
                                url: "@Url.Action("Upload")",
                                data: data,
                                contentType: false,
                                processData: false,
                                success: function (data) {
                                    alert("Successfully Uploaded!");

                                },
                    else: {
                        error: function () {
                            alert("An error occurred!");
                        }
                    },
                            });
                        }
                    });
                });
            </script>






            <p>
                <br />    @Html.ActionLink("Create New Page Content", "Create", null, new { @class = "btn btn-primary" })
            </p>

            <br />

            
                <table class="table" style="width: 1200px;">


                    @foreach (var item in stcontent)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td style="width: 500px;">
                                @Html.Raw(item.Contents)
                            </td>
                            <td>
                                <img src="/Home/RetrieveImage/@item.Id" alt="" height=300 width=400 />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>


                        </tr>

                    }



                    </table>

@foreach (var name in stwall)
{
    @Html.ActionLink("Delete", "Delete", new { id = name.Id })
}



